.table {
    max-width: 800px;
    margin: 25px auto;
    padding: 5px;
    border-collapse: collapse;
}

.table__cell {
    border: 2px solid #000;
    padding: 20px;
    background-color: #a50d2b;
    color: #e9e3e3;
}

.table__cell--header {
    font-weight: normal;
    color: #000;
}